
    <form action="/search_results" method="get">
      <h2>Movies</h2>
      <p>Type your movie (with all matches)</p>
      <input type="text" name="movie_title">
      <button type="submit">Submit</button>
    </form>
