body {
  background-color: lightgrey;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
li {
  list-style: none;
}
h1,
h3 {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: tomato;
}
.heading {
  text-align: center;
  height: 150px;
  background-image: url("../images/background.jpg");
  margin: 10px 0 50px;
}
.heading img {
  height: 180px;
}
main {
  margin: 0 auto;
  width: 70%;
}
.column1 {
  width: 450px;
  background-color: white;
  padding: 20px;
  float: left;
  margin: 5px;
}
.ecard {
  width: 350px;
}
.column2 {
  width: 200px;
  background-color: white;
  padding: 5px;
  float: left;
  margin: 5px;
}
.column2 img {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 10px 5px;
}
nav {
  font-weight: bold;
}
footer {
  padding: 10px 50px;
  text-align: center;
  clear: both;
}
.postedBy {
  border-top: 1px dotted black;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}
