<form action="/dishes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="image_url">Image URL:</label>
  <textarea name="image_url" rows="8" cols="80"></textarea>
  <button>Create</button>
</form>
