
    <form action="/stock_info" method="get">
      <p>Select a stock from Yahoo finance</p>
      <input type="text" name="stock_ticker">
      <button type="submit">Submit</button>
      <p>examples: AXSM, ANOS, ANCI, ALTV, ALAN, AKZOY, AKO-A, AJX</p>
    </form>
