<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>compliments</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background-color: <%= randColor %>">
    <h1>Compliment:</h1>
    <h3><%= randCompliment %></h3>
  </body>
</html>
